<div id="project-<%= project.id %>-item" class="budget-list__item">
  <div class="budget-list__text card__text">
    <div>
      <%= link_to project, class: "card__link" do %>
        <h5 class="card__title budget-list__title">
          <%= translated_attribute project.title %>
        </h5>
      <% end %>
      <div class="show-for-medium">
        <%= cell "decidim/tags", project, context: { extra_classes: ["tags--project"] } %>
      </div>
      <div class="budget-list__data__number budget-list__number hide-for-medium">
        <% if finished? %>
          <span class="text-uppercase text-small"><%= t(".count", count: project.confirmed_orders_count) %></span>
          <% if project_chosen %>
             <span class="text-sm ml-xs text-success text-uppercase">
              <%= icon("check", role: "img") %> <%= t(".you_voted") %>
            </span>
          <% end %>
        <% else %>
          <%= budget_to_currency(project.budget) %>
        <% end %>
      </div>
    </div>
  </div>
  <% if finished? %>
    <div class="budget-list__data show-for-medium">
      <div class="budget-list__data__votes">
        <div class="text-large"><%= project.confirmed_orders_count %></div>
        <span class="text-uppercase text-small"><%= t(".supports", count: project.confirmed_orders_count) %></span>
        <% if project_chosen %>
          <div class="text-sm mt-s text-success">
            <%= icon("check", role: "img") %> <%= t(".you_voted") %>
          </div>
        <% end %>
      </div>
    </div>
  <% else %>
    <div class="budget-list__data <%= " budget-list__data--added" if can_have_order? && project_chosen %><%= " show-for-medium" if (checked_out? && !project_chosen) %>">
      <% if can_have_order? && checked_out? %>
        <span class="button tiny success budget-list__action budget-list__action--disabled">
          <%= icon("check", class: "icon--small", role: "img") %>
        </span>
      <% end %>

      <span class="budget-list__data__number budget-list__number show-for-medium">
        <%= budget_to_currency(project.budget) %>
        <% if show_votes? %>
          <span class="text-uppercase text-small"><%= t(".count", count: project.confirmed_orders_count) %></span>
        <% end %>
      </span>

      <% if current_user.present? %>
        <%= action_authorized_button_to "vote", order_line_item_path(project_id: project), method: project_chosen ? :delete : :post, remote: true, data: { add: !project_chosen, disable: true, budget: project.budget, "redirect-url": project_path(project) }, disabled: !can_have_order? || checked_out?, class: "button tiny budget-list__action #{project_chosen ? :success : :hollow}" do %>
          <%= icon("check", class: "icon--small", aria_label: t(project_chosen ? ".remove" : ".add"), role: "img") %>
        <% end %>
      <% else %>
        <a href="#" class="button tiny hollow budget-list__action" data-toggle="loginModal">
          <%= icon("check", class: "icon--small", aria_label: t(".add"), role: "img") %>
        </a>
      <% end %>
    </div>
  <% end %>
</div>
